body {
    /* background-image: url("../images/ep_naturalblack.png"); */
    /* color: white; */
    background-color: #4aaaa5;
    color: #777777;
    font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
}

.mainContent {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.headerDivider :hover {
    font-weight: normal;
}

#divider :hover {
    font-weight: normal;
    
}

section {
    width: 650px;
}

aside {
    width: 270px;
}

p :hover {
    font-weight: normal;
}

/* .headerLinks {
    font-weight: bolder;
} */

h1 :hover {
    font-weight: bolder;
    color: red;
}

a :hover {
    font-weight: bolder;
}

.headerLinks :hover {
    color: red;
}

.connectLogos :hover {
    width: 160px;
    height: 160px;
    image-rendering: auto;
}

/*.mainContent :hover {
    font-weight: bolder;
}*/